hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/125c9ef1fb9b0a17fae70893ac6d3be2433e579f filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/ddf79238d982fd48d03f6390b7fd7bc412483dd8 filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/eede6cb0ca23cfe1a1b5ac95b7724760f397b5a12fffd23237fcc1aa421f78b9 filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/07213cf1d337d79ad3d85a4c0f53428d8fa89d16 filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/1e463e6264fe736b720b5e31cf331639e1ca1f14 filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/2bb319a30c5af866892a3b3324511dc7c6a4b817 filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/6960a34ace6692eb63cb119dbbec234e20b7696d filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/9213783a33aa495a3c2d3791c7c5888d90607a4e filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/9bbecc17cabbcbd3112c14d6982b51403b264bfa filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/f7640f94e81bb7f4f04daf1668850b38763a13d9 filter=lfs diff=lfs merge=lfs -text
hf_cache/models--DiTy--bi-encoder-russian-msmarco/blobs/f789d99277496b282d19020415c5ba9ca79ac875 filter=lfs diff=lfs merge=lfs -text
